* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitcount Single", system-ui;
  ;
}

body {
  min-height: 100vh;
  width: 100 vw;
  background: linear-gradient(180deg, rgb(44, 44, 44) 0%, rgb(112, 34, 112) 100%);
  ;
}