.container {
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction:column;
}

h1{
  color:aliceblue;
  font-size: 32px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(32, 20, 32);
  max-width: 50%;
  width: 400px;;
  margin-bottom: 20px;
}

& button {
  border-radius: 30px;
  background-color: rgb(110, 61, 110);
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: aliceblue;
  font-size: 18px;
}

& button:hover {
  opacity:0.8;
}

& input{
  border:1px solid rgb(3, 3, 3);
  border-radius: 30px;
  height: 40px;
  background-color: rgb(117, 95, 138);
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding-left: 10px;
  outline:none;
}

.card{
  display: flex;
  justify-content: space-between;
  background-color: rgb(52, 25, 80);
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  align-items: center;

  & p {
    color: aliceblue;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }
  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
} 

.trash-button img{
  width: 30px;  
  height: auto; 
  cursor: pointer;
  border-radius: 50%;
}
